body{
	background-color: rgb(50 50 50);
}
#q{
	position: absolute;
	right: 20px;
	margin-left: 300px; 
}
#e{
	position: absolute;
	left: 10px;
	margin-left: 0px;
}
#w{
	position: absolute;
	left: 0px;
	margin-left: 450px;
}
div{
	background-color: rgb(30 30 30);
	padding-bottom: 35px; 
} 
a{
	font-family: Calibri;
	font-size: 20px;
	color: rgb(245 245 245);
	padding-bottom: 5px; 
	padding-top: 5px;
}
 

a:hover{
	font-size: 21px;
}
#r{
	position: absolute;
	top: 51px;
	left: 9px;
}
#t{
	position: absolute;
	top: 81px;
	left: 9px;
}
#y{
	position: absolute;
	top: 111px;
	left: 9px;
}
#u{
	position: absolute;
	top: 141px;
	left: 9px;
}
h1{
	font-family: Calibri;
	position: absolute;
	top: 30px;
	left: 168px;
	color: rgb(245 245 245);
	background-color: rgb(30 30 30);
	padding-right: 400px;
	padding-left: 340px;
}
h2{
	font-family: Calibri;
	position: absolute;
	top: 70px;
	left: 168px;
	background-color: rgb(30 30 30);
	color: rgb(245 245 245);
}
#a{
	position: absolute;
	top: 171px;
	left: 9px;
}
table{
	background-color: rgb(30 30 30);
	padding-top: 500px;
	padding-right: 157px;
	margin-top: 8px;
}

#s{
	position: absolute;
	top: 201px;
	left: 9px;
}
#d{
	position: absolute;
	top: 231px;
	left: 9px;
	}
#f{
	position: absolute;
	top: 261px;
	left: 9px;
	}
